<h1>Mina Laoen ochauhm... ehl</h1>
{{#link-to 'loans'}}loans{{/link-to}}<br/>
{{#link-to 'requests'}}requests{{/link-to}}<br/>
{{#link-to 'fines'}}fines{{/link-to}}<br/>
{{#link-to 'user'}}user{{/link-to}}<br/>
{{outlet}}
